<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Boxinator</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div><a th:href="@{/}">Home</a></div>

<div class="container-fluid">
    <div class="text-center"><h2>Add a new box</h2></div>

    <form th:action="@{boxes/save}" method="post" th:object="${box}" style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name[Reciever]</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{reciever}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Weight</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{weight}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Box Color</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{color}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Country [Shipping Cost]</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{cost}" class="form-control"/>
                </div>
            </div>
        </div>

    </form>

</div>
</body>
</html>